{% comment %}
  This section is used in the cart template to render /cart page with an
  overview of the items in customer's cart.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/cart
{% endcomment %}

<h1>{{ 'cart.title' | t }}</h1>

<form action="{{ routes.cart_url }}" method="post">
  <table>
    {% for item in cart.items %}
      <tr>
        <td>
          {% render 'image', image: item.image, url: item.url %}
        </td>
        <td>
          <p>{{ item.product.title }}</p>
          {{ 'cart.remove' | t | link_to: item.url_to_remove }}
        </td>
        <td>
          <input type="text" name="updates[]" value="{{ item.quantity }}">
          <input type="submit" value="{{ 'cart.update' | t }}">
        </td>
      </tr>
    {% endfor %}
  </table>

  <input type="checkout_submit" name="checkout" value="{{ 'cart.checkout' | t }}">
</form>

{% stylesheet %}

form {
  /* background-color: red; */
  margin: 0; 
}

h1 {
  /* background-color: blue; */
  color: black;
  padding: 10px;
  letter-spacing: 1px;
  border-bottom: #000000ff 1px solid;
  margin-bottom: 20px;
  
}

table {
  /* background-color: green; */
  /* border: #000000ff 1px solid; */
  width: 100%;
  
}

td {
  /* background-color: yellow; */
  padding: 10px;
  /* border-bottom: #000000ff 1px solid; */
  
}
tr:last-child td {
  border-bottom: none;
  /* background-color: blanchedalmond; */
  /* border: #000000ff 1px solid; */
}

table img {
  max-width: 150px;
  max-height: 150px;
  /* border: #000000ff 1px solid; */
  padding: 10px;
}
input[type="text"] {
  width: 50px;
  text-align: center;
  /* background-color: green; */
}

input[type="checkout_submit"]  {
  /* background-color: orange; */
  padding: 12px 10px;
  text-align: center;
  margin-top: 20px;
}
  
a {
  color: blue;
  text-decoration: underline;
}
@media (max-width: 600px) {
  table, tr, td {
    display: block;
    width: 100%;
  }
  td {
    box-sizing: border-box;
    /* border-bottom: 1px solid #ccc; */
  }
  td:nth-child(2) {
    margin: 10px 0;
  }
}

{% endstylesheet %}

{% schema %}
{
  "name": "t:general.cart",
  "settings": []
}
{% endschema %}
